In [14]:
import pandas as pd
import numpy as np 
import pickle
pd.set_option('display.max_columns', 300)

In [15]:
%pwd

'C:\\Users\\User\\Documents\\Flatiron\\Repository\\flatiron-p2-housing\\trials'

In [16]:
df = pd.read_csv('C:\\Users\\User\\Documents\\Flatiron\\Repository\\flatiron-p2-housing\\data\\kc_house_data_test_features.csv')
print(df.shape)
df.head()

(4322, 21)

,Unnamed: 0,id,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,0,1974300020,20140827T000000,4,2.50,2270,11500,1.0,0,0,3,8,1540,730,1967,0,98034,47.7089,-122.241,2020,10918
1,1,1974300020,20150218T000000,4,2.50,2270,11500,1.0,0,0,3,8,1540,730,1967,0,98034,47.7089,-122.241,2020,10918
2,2,3630020380,20141107T000000,3,2.50,1470,1779,2.0,0,0,3,8,1160,310,2005,0,98029,47.5472,-121.998,1470,1576
3,3,1771000290,20141203T000000,3,1.75,1280,16200,1.0,0,0,3,8,1030,250,1976,0,98077,47.7427,-122.071,1160,10565
4,4,5126310470,20150115T000000,4,2.75,2830,8126,2.0,0,0,3,8,2830,0,2005,0,98059,47.4863,-122.140,2830,7916

In [17]:
df.isna().mean()

Unnamed: 0       0.0
id               0.0
date             0.0
bedrooms         0.0
bathrooms        0.0
sqft_living      0.0
sqft_lot         0.0
floors           0.0
waterfront       0.0
view             0.0
condition        0.0
grade            0.0
sqft_above       0.0
sqft_basement    0.0
yr_built         0.0
yr_renovated     0.0
zipcode          0.0
lat              0.0
long             0.0
sqft_living15    0.0
sqft_lot15       0.0
dtype: float64

## Cleaning the Holdout Data

In [18]:
#Turn id into a string to prevent any numerical issues.
df['id'] = df['id'].astype('str')

#Turn zipcode into a string to prevent any numerical issues.
df['zipcode'] = df['zipcode'].astype('str')

#Convert the date column to something workable. We'll first use UTC then strip the year out afterwards.
df['date'] = pd.to_datetime(df['date'], utc = True)

#Taking care of the 33 bedroom property by imputing the mean number of bedrooms.
df['bedrooms'] = np.where(df['bedrooms'] > 30, df['bedrooms'].mean(), df['bedrooms'])

#Taking care of any properties with less than .5 baths. Using .75 as that code for baths has a shower.
df['bathrooms'] = np.where(df['bathrooms'] < .75, .75, df['bathrooms'])

## Feature Engineering

In [19]:
#Transforming the data from the date to get and extract the year in order to calcuate the age of the house.
df['year_sold'] = pd.to_datetime(df['date']).dt.date.astype('datetime64[ns]')

#Convert bedrooms to into to account for the mean transformation we did previously for the 33 bedroom value.
df['bedrooms'] = df['bedrooms'].astype(int)

#Create a column for whether or not a property has a basement
df['has_basement'] = np.where(df['sqft_basement'] > 0, 1, 0)

#Feature Engineering to extrapolate the year sold from the convoluted date format.
df['year_sold'] = pd.DatetimeIndex(df['year_sold']).year # extract only year

#Feature Engineering the age of the home
df['age_built'] = (df['year_sold'] - df['yr_built']).astype(int)
df['age_built'] = (df['age_built'] + 6) #bring up to 2021 values

#Feature Engineering the time since the last renovation on home. No renovation will treat build year as the value.
reno_cond = [df['yr_renovated'] == 0, df['yr_renovated'] != 0]
reno_choices = [df['year_sold'] - df['yr_built'], df['year_sold'] - df['yr_renovated']]
df['last_reno'] = np.select(reno_cond, reno_choices)
df['last_reno'] = (df['last_reno'] + 6) #bring up to 2021 values

#Get month property sold
df['month_sold'] = pd.DatetimeIndex(df['date']).month

#Feature Engineering to convert months to seasons (1=Winter, 2=Spring, 3=Summer, 4=Fall)
season_cond = [df['month_sold'] <= 3, (df['month_sold'] >= 4) & (df['month_sold'] <=6), 
               (df['month_sold'] >= 7) & (df['month_sold'] <=9), (df['month_sold'] >= 10) & (df['month_sold'] <=12)]
season_choices = [1, 2, 3, 4] 
df['season_sold'] = np.select(season_cond, season_choices)

#Simple Boolean answer whether the home was renovated as (True/False)
choices_reno_TF = [0, 1] #0 = True
df['was_reno'] = np.select(reno_cond, choices_reno_TF)

#Feature Engineering columns that show the ratio of beds and bath to home
df['bed_sqft_ratio'] = df['bedrooms'] / df['sqft_living']
df['bath_sqft_ratio'] = df['bathrooms'] / df['sqft_living']
df['floors_sqft_ratio'] = df['floors'] / df['sqft_living']

#Feature Engineering for grade values attributed to letter grade 
df['grade_lvl'] = df.grade.apply(lambda x: 'S+' if x == 13 else (
                                           'S' if x == 12 else (
                                           'S-' if x == 11 else (
                                           'A+' if x == 10 else (
                                           'A' if x ==  9 else (
                                           'A-' if x == 8 else (
                                           'B+' if x == 7 else (
                                           'B' if x == 6 else (
                                           'B-' if x == 5 else (
                                           'C+' if x == 4 else (
                                           'C' if x == 3 else (
                                           'C-' if x == 2 else (
                                           'D')))))))))))))

#Age Built by Bins
bins = [-2, 1, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 100000]
labels = ['<1', '1-10', '11-20', '20-30', '30-40', '40-50', '50-60', '60-70', '70-80', '80-90', '90-100', '>100'] # e.g., (1-10]
df['age_built_binned'] = pd.cut(df['age_built'], bins = bins, labels = labels)

## Creating Dummy Variables

In [20]:
#Create dummy variables for grade, waterfront, and zipcode
df['grade_3'] = '0'
df = pd.get_dummies(df, columns = ['grade', 'waterfront', 'zipcode', 'season_sold', 'view', 'condition'], drop_first = True)

## Non-linear Transformations

In [21]:
df['floors^2'] = df['floors'] ** 2
df['sqft_above^2'] = df['sqft_above'] ** 2
df['sqft_basement^2'] = df['sqft_basement'] ** 2
df['bath_sqft_ratio^2'] = df['bath_sqft_ratio'] ** 2
df['bed_sqft_ratio^2'] = df['bath_sqft_ratio'] ** 2
df['floors_sqft_ratio^2'] = df['floors_sqft_ratio'] ** 2
df['sqft_living^2'] = df['sqft_living'] ** 2
df['sqft_living15^2'] = df['sqft_living'] ** 2
df['sqft_lot^2'] = df['sqft_lot'] ** 2
df['sqft_lot15^2'] = df['sqft_lot15'] ** 2

## Interaction Features

In [22]:
#Grades 7-9 had the highest sale rates, so we'll create interaction features for those three.
df['reno_basement'] = df['sqft_basement'] * df['was_reno']
df['sqft_reno'] = df['sqft_living'] * df['was_reno']
df['grade_7_sqft_living'] = df['sqft_living'] * df['grade_7']
df['grade_8_sqft_living'] = df['sqft_living'] * df['grade_8']
df['grade_9_sqft_living'] = df['sqft_living'] * df['grade_9']
df['floors_grade_7'] = df['floors'] * df['grade_7']
df['floors_grade_8'] = df['floors'] * df['grade_8']
df['floors_grade_9'] = df['floors'] * df['grade_9']

## Setting Up Best Model to Run on Holdout Data

In [23]:
df.head()

,Unnamed: 0,id,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,sqft_above,sqft_basement,yr_built,yr_renovated,lat,long,sqft_living15,sqft_lot15,year_sold,has_basement,age_built,last_reno,month_sold,was_reno,bed_sqft_ratio,bath_sqft_ratio,floors_sqft_ratio,grade_lvl,age_built_binned,grade_3,grade_4,grade_5,grade_6,grade_7,grade_8,grade_9,grade_10,grade_11,grade_12,grade_13,waterfront_1,zipcode_98002,zipcode_98003,zipcode_98004,zipcode_98005,zipcode_98006,zipcode_98007,zipcode_98008,zipcode_98010,zipcode_98011,zipcode_98014,zipcode_98019,zipcode_98022,zipcode_98023,zipcode_98024,zipcode_98027,zipcode_98028,zipcode_98029,zipcode_98030,zipcode_98031,zipcode_98032,zipcode_98033,zipcode_98034,zipcode_98038,zipcode_98039,zipcode_98040,zipcode_98042,zipcode_98045,zipcode_98052,zipcode_98053,zipcode_98055,zipcode_98056,zipcode_98058,zipcode_98059,zipcode_98065,zipcode_98070,zipcode_98072,zipcode_98074,zipcode_98075,zipcode_98077,zipcode_98092,zipcode_98102,zipcode_98103,zipcode_98105,zipcode_98106,zipcode_98107,zipcode_98108,zipcode_98109,zipcode_98112,zipcode_98115,zipcode_98116,zipcode_98117,zipcode_98118,zipcode_98119,zipcode_98122,zipcode_98125,zipcode_98126,zipcode_98133,zipcode_98136,zipcode_98144,zipcode_98146,zipcode_98148,zipcode_98155,zipcode_98166,zipcode_98168,zipcode_98177,zipcode_98178,zipcode_98188,zipcode_98198,zipcode_98199,season_sold_2,season_sold_3,season_sold_4,view_1,view_2,view_3,view_4,condition_2,condition_3,condition_4,condition_5,floors^2,sqft_above^2,sqft_basement^2,bath_sqft_ratio^2,bed_sqft_ratio^2,floors_sqft_ratio^2,sqft_living^2,sqft_living15^2,sqft_lot^2,sqft_lot15^2,reno_basement,sqft_reno,grade_7_sqft_living,grade_8_sqft_living,grade_9_sqft_living,floors_grade_7,floors_grade_8,floors_grade_9
0,0,1974300020,2014-08-27 00:00:00+00:00,4,2.50,2270,11500,1.0,1540,730,1967,0,47.7089,-122.241,2020,10918,2014,1,53,53,8,0,0.001762,0.001101,0.000441,A-,50-60,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,1.0,2371600,532900,1.212909e-06,1.212909e-06,1.940655e-07,5152900,5152900,132250000,119202724,0,0,0,2270,0,0.0,1.0,0.0
1,1,1974300020,2015-02-18 00:00:00+00:00,4,2.50,2270,11500,1.0,1540,730,1967,0,47.7089,-122.241,2020,10918,2015,1,54,54,2,0,0.001762,0.001101,0.000441,A-,50-60,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1.0,2371600,532900,1.212909e-06,1.212909e-06,1.940655e-07,5152900,5152900,132250000,119202724,0,0,0,2270,0,0.0,1.0,0.0
2,2,3630020380,2014-11-07 00:00:00+00:00,3,2.50,1470,1779,2.0,1160,310,2005,0,47.5472,-121.998,1470,1576,2014,1,15,15,11,0,0.002041,0.001701,0.001361,A-,11-20,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,4.0,1345600,96100,2.892313e-06,2.892313e-06,1.851081e-06,2160900,2160900,3164841,2483776,0,0,0,1470,0,0.0,2.0,0.0
3,3,1771000290,2014-12-03 00:00:00+00:00,3,1.75,1280,16200,1.0,1030,250,1976,0,47.7427,-122.071,1160,10565,2014,1,44,44,12,0,0.002344,0.001367,0.000781,A-,40-50,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,1.0,1060900,62500,1.869202e-06,1.869202e-06,6.103516e-07,1638400,1638400,262440000,111619225,0,0,0,1280,0,0.0,1.0,0.0
4,4,5126310470,2015-01-15 00:00:00+00:00,4,2.75,2830,8126,2.0,2830,0,2005,0,47.4863,-122.140,2830,7916,2015,0,16,16,1,0,0.001413,0.000972,0.000707,A-,11-20,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,4.0,8008900,0,9.442620e-07,9.442620e-07,4.994444e-07,8008900,8008900,66031876,62663056,0,0,0,2830,0,0.0,2.0,0.0

### Import Pickled Data

In [24]:
infile = open('C:\\Users\\User\\Documents\\Flatiron\\Repository\\flatiron-p2-housing\\data\\final_model.pickle','rb')
model = pickle.load(infile)
infile.close()

In [25]:
infile = open('C:\\Users\\User\\Documents\\Flatiron\\Repository\\flatiron-p2-housing\\data\\other_info.pickle','rb')
other_info = pickle.load(infile)
infile.close()

#### Check Our Pickled Model is the Same as the one from Final Notebook

In [27]:
print(model.intercept_)
print(model.coef_)
print(len(model.coef_))

-239.16794474339792
[-3.13285383e-03  6.94834395e-02 -1.22589088e-01  4.75272452e-07
  1.55360470e-03  1.22811921e-01  1.22675207e-01  2.71753358e-02
  4.75872194e-03  1.46689107e+00 -2.07385929e-01  8.92007601e-05
  5.00905554e-02  6.40702410e-02  2.97634278e-02 -9.46960841e+00
 -2.53752302e+01 -3.15350701e+01 -4.17227676e+01 -4.84731381e-02
 -1.16062438e-01 -8.74715928e-02  4.05242192e-02  2.08472864e-01
  3.31450659e-01  5.71989507e-01  5.82071441e-01  6.83943626e-01
  8.18832024e-01  1.05647132e+00  4.41268952e-01 -5.36597328e-03
  7.11331397e-02  7.81227745e-02  5.18115220e-02  5.67958928e-02
 -1.50275578e-01 -6.48783155e-02 -1.37056632e-01 -2.59804143e-02
 -3.04162083e-01  1.24838692e-01 -1.02735471e-01 -3.25772602e-03
 -2.30321814e-04  1.14289524e-01 -3.39537263e-01 -5.81311622e-02
  1.13717127e-01  1.26323912e-02 -1.70978518e-01  4.48835669e-02
  4.89279559e-02  4.73500773e-02  1.56459288e-01  1.11171181e-01
  1.56369535e-01  2.28121983e-01  9.24141272e-02  1.97984832e-01
  2.66764931e-01  3.43479401e-01  1.16153435e-02 -8.32500172e-09
  3.50975628e-09 -9.29613841e-02 -9.29613841e-02 -1.07740068e-01
 -2.21704822e-07  2.16205561e-07 -5.02931030e-14  1.21014310e-14
  2.90393375e-05  1.69261176e-05 -2.67015387e-05 -1.54918900e-05
 -2.79339392e-05  1.98511973e-02  1.72075419e-02 -1.00968626e-02]
80

#### Assign our Pickled Features to a New Variable

In [28]:
final_features = other_info[0]

In [29]:
len(final_features)

80

### Predict on the Holdout Data (T . T)

In [30]:
final_answers = np.exp(model.predict(df[final_features]))

In [31]:
final_answers

array([527966.78349458, 544549.80042507, 359785.38316643, ...,
       275123.9729989 , 416193.36655129, 276360.48662437])

In [32]:
len(final_answers)

4322

#### Save Prediction Answers to Dataframe

In [33]:
final_predictions = pd.DataFrame(final_answers)

In [34]:
final_predictions

                  0
0     527966.783495
1     544549.800425
2     359785.383166
3     462609.098621
4     508745.243230
...             ...
4317  538187.384146
4318  444526.829628
4319  275123.972999
4320  416193.366551
4321  276360.486624

[4322 rows x 1 columns]

#### Save Prediction Dataframe to CSV

In [69]:
# final_predictions.to_csv('housing_preds_Chaz_Frazer.csv')